{% extends 'home/base.html' %} 

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/testimonial_slider1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/indexnewstyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<title>Ayurved Proctology Association </title>

{% endblock %}
 
 {% block content %}

 <div class="header">
  <div class="row ">

    <div class="col-md-12">
      <div class="inner-header flex " data-aos="zoom-in" data-aos-duration="2000">
        <h1 class="title text-white">Ayurved Proctology Association</h1>
      </div>
 </div>
 
 </div>



</div>
</div>

<div class="container-fluid apa-section-black">
  <div class="container section-black">
  <div class="row">
    <div class="col-lg-7">
     <h1 class="apa-heading-black">WHAT WE <span class="green-text">DO</span>.</h1>
     <p class="apa-content-black">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
    </div>
  </div>
  </div>
 </div>




 <div class="team-boxed p-0" style="margin-bottom: 5%;">

  <h1 class="sub-title text-center my-3 apa-heading-black" data-aos="zoom-out" data-aos-duration="1000" >
    <span class="green-text">Popular</span> Events
  </h1>
  <p class="lead apa-tagline text-center"data-aos="fade-zoom-in" data-aos-duration="1200">This is an introductory sentence. <a href="events.html">See more events</a></p>
  <div class="container">
      <div class="row people">
          <div class="col-md-6 col-lg-4 item"data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
              <div class="box">
                  <h3 class="name sub-title">Event Title</h3>
                  <span class="sub-text title">Mumbai</span>
                   <div class="sub-text">23/02/2021 - 24/02/2021</div>

                  <p class="description">Web dev and app dev are my main interests and I'm always curious about new technologies.
                    Responsible for development and maintenance of the website. Web dev head at ISTE Manipal. </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                  <a class="apa-btn-ripple sub-title" href="#">Read more</a>


                </div>
          </div>
          <div class="col-md-6 col-lg-4 item"data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
            <div class="box">
              <h3 class="name sub-title">Event Title</h3>
              <span class="sub-text title">Mumbai</span>
              <div class="sub-text">23/02/2021 - 24/02/2021</div>

              <p class="description">Web dev and app dev are my main interests and I'm always curious about new technologies.
                Responsible for development and maintenance of the website. Web dev head at ISTE Manipal. </p>
              <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              <a class="apa-btn-ripple sub-title" href="#">Read more</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item"data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
            <div class="box">
              <h3 class="name sub-title">Seminar Title</h3>
              <span class="sub-text title">Mumbai</span>
              <div class="sub-text sub-title">23/02/2021 - 24/02/2021</div>

              <p class="description">Web dev and app dev are my main interests and I'm always curious about new technologies.
                Responsible for development and maintenance of the website. Web dev head at ISTE Manipal. </p>
              <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                  <a class="apa-btn-ripple sub-title" href="#">Read more</a>

            </div>
          </div>
      </div>
  </div>

</div>

<div class="container-fluid apa-box-section-wrap">
<h1 class="sub-title text-center my-5 apa-vertical-heading apa-heading-black" data-aos="zoom-out" data-aos-duration="1000">
  <span class="green-text">Resource</span> <span style="color: white;">Section</span>
</h1>        <div class="row">
  <div class="col-lg-4">
    <div class="apa-box-section-odd" >
      <h1>Resource Info</h1>
      <span>
        <a href="#">Link to a resource</a>
        <br>
        <a href="#">Link to a resource</a>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="apa-box-section-even"  >
      <h1 >Resource Info</h1>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="apa-box-section-odd" >
      <h1>Resource Info</h1>
      <p>Lorem ipsum</p>
    </div>
  </div>

</div>
<div class="row my-4">
  <div class="col-lg-4">
    <div class="apa-box-section-even"   >
      <h1 style="color: black; text-align: left;">Resource Info</h1>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="apa-box-section-odd"  >
      <h1 style="color: black; text-align: left;">Resource Info</h1>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="apa-box-section-even"  >
      <h1 style="color: black; text-align: left;">Resource Info</h1>
      <p>Lorem ipsum</p>
    </div>
  </div>

</div>
</div>
<!-- <section class="section-2 container-fluid p-0">
<div class="cover">
  <div class="overlay"></div>
  <div class="content text-center">
    <h1 class="sub-title text-center my-3 apa-vertical-heading apa-heading-black">What makes us <span class="green-text">Unique</span></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eum?
    </p>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
    <div class="rect">
      <h1>190</h1>
      <p class="apa-sub-title">Staff</p>
    </div>
    <div class="rect">
      <h1>85</h1>
      <p class="apa-sub-title">Surgeons</p>
    </div>
    <div class="rect">
      <h1>10</h1>
      <p class="apa-sub-title">Clinics</p>
    </div>
    <div class="rect">
      <h1>1000</h1>
      <p class="apa-sub-title">Happy Pateints</p>
    </div>
  </div>
</div>
</section> -->
<!-- <section class="reviews text-center parallax-section">
    <div class="reviews_container text-center">
        <h1 style="color: white !important;" class="sub-title"  data-aos="zoom-out" data-aos-duration="1000"><span>Our</span> Team</h1>
        <p  class="decription"  data-aos="fade-zoom-in" data-aos-duration="1200">We provide high standar clean website for your business solutions. <a href="teams.html"> see entire team</a></p>
        <div class="slider">
            <div class="slide">
                <img src="https://i.pinimg.com/originals/55/51/40/55514035db170ab919ab2d21830714a4.png" alt="">
                <p class="description">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum"</p>
                <span>- Damon Salvatore, Company ABC</span>
            </div>
            <div class="slide">
                <img src="https://i.pinimg.com/originals/55/51/40/55514035db170ab919ab2d21830714a4.png" alt="">
                <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum"</p>
                <span>- John Doel, Company ABC</span>
            </div>
            <div class="slide">
                <img src="https://i.pinimg.com/originals/55/51/40/55514035db170ab919ab2d21830714a4.png" alt="">
                <p class="description">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum"</p>
                <span>- John Doel, Company ABC</span>
            </div>
            <div class="slide">
                <img src="https://i.pinimg.com/originals/55/51/40/55514035db170ab919ab2d21830714a4.png" alt="">
                <p class="description">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum"</p>
                <span>- John Doel, Company ABC</span>
            </div>
        </div>
        <div class="slider-dots text-center"> </div>
    </div>

</section> -->

<!--accordian menu-->

<div class="container vision-wrap" id="container" style="margin-bottom: 5%;">
  
  <h1 class="sub-title text-center my-3 apa-heading-black" data-aos="zoom-out" data-aos-duration="1000">
    Our <span class="green-text">Visions</span></h1>
    <p class="lead text-center"data-aos="fade-zoom-in" data-aos-duration="1200">This is an introductory sentence. <a href="events.html">REad more</a></p>

    <div class="row">
    <div class="col-md-6">
      <div id="accordion">
<div class="card" id="card4">
<div class="card-header" id="headingOne">
  <h5 class="mb-0">
    <button class="btn btn-link description" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Vision title #1
    </button>
  </h5>
</div>

<div id="collapseOne description" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body description">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
  </div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingTwo">
  <h5 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Vision title #2
    </button>
  </h5>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
  </div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingThree">
  <h5 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Vision title #3
    </button>
  </h5>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
  <div class="card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
  </div>
</div>
</div>
</div>
    </div>
    <div class="col-md-6 text-center m-auto">
      <img class="trial m-auto" src="pic.jpg" alt="vision">
    </div>
  </div>
</div>
{% endblock %}
